.square_1 {
  height: 20px;
  width: 20px;
  border: 2px solid #f00;
}
.square_2 {
  height: 20px;
  width: 20px;
  border: 2px solid #0000ff;
  position: absolute;
  left: 34px;
  top: 8px;
}
.square_3 {
  height: 20px;
  width: 20px;
  border: 2px solid #008000;
  position: absolute;
  left: 60px;
  top: 8px;
}
div {
  margin: 0 1px;
}
